<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AccessLogMapper">
    <resultMap id="BaseResultMap" type="com.models.entity.AccessLog">
        <id column="logId" jdbcType="BIGINT" property="logId"/>
        <result column="createdBy" jdbcType="VARCHAR" property="createdBy"/>
        <result column="createdDate" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="lastUpdatedBy" jdbcType="VARCHAR" property="lastUpdatedBy"/>
        <result column="lastUpdateDate" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="accessTime" jdbcType="TIMESTAMP" property="accessTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
    </resultMap>
    <sql id="Base_Column_List">
        logId
        , createdBy, createdDate, lastUpdatedBy, lastUpdateDate, version, accessTime,
    description, `operator`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from access_log
        where logId = #{logId,jdbcType=BIGINT}
    </select>

    <select id="selectAll"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from access_log
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from access_log
        where logId = #{logId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="logId" keyProperty="logId" parameterType="com.models.entity.AccessLog"
            useGeneratedKeys="true">
        insert into access_log (createdBy, createdDate, lastUpdatedBy,
                                lastUpdateDate, version, accessTime,
                                description, `operator`)
        values (#{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR},
                #{lastUpdateDate,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, #{accessTime,jdbcType=TIMESTAMP},
                #{description,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="logId" keyProperty="logId" parameterType="com.models.entity.AccessLog"
            useGeneratedKeys="true">
        insert into access_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="createdDate != null">
                createdDate,
            </if>
            <if test="lastUpdatedBy != null">
                lastUpdatedBy,
            </if>
            <if test="lastUpdateDate != null">
                lastUpdateDate,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="accessTime != null">
                accessTime,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="operator != null">
                `operator`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                #{lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateDate != null">
                #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="accessTime != null">
                #{accessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.models.entity.AccessLog">
        update access_log
        <set>
            <if test="createdBy != null">
                createdBy = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                createdDate = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                lastUpdatedBy = #{lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateDate != null">
                lastUpdateDate = #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="accessTime != null">
                accessTime = #{accessTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                `operator` = #{operator,jdbcType=VARCHAR},
            </if>
        </set>
        where logId = #{logId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.models.entity.AccessLog">
        update access_log
        set createdBy       = #{createdBy,jdbcType=VARCHAR},
            createdDate     = #{createdDate,jdbcType=TIMESTAMP},
            lastUpdatedBy   = #{lastUpdatedBy,jdbcType=VARCHAR},
            lastUpdateDate = #{lastUpdateDate,jdbcType=TIMESTAMP},
            version          = #{version,jdbcType=INTEGER},
            accessTime      = #{accessTime,jdbcType=TIMESTAMP},
            description      = #{description,jdbcType=VARCHAR},
            `operator`         = #{operator,jdbcType=VARCHAR}
        where logId = #{logId,jdbcType=BIGINT}
    </update>
</mapper>